* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
    height: 100px;
    background-color: rgb(191, 149, 255);
}
nav .logo{
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
nav .list{
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .list li{
    list-style: none;
}
nav .list a{
    display: block;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
nav .list a:hover{
    border-bottom: 4px solid #ea00ff;
}
#toggle {
    position: absolute;
    top: -100px;
}
nav .icon{
    display: none;
}

.tipos h1{
    
    margin:50px;
    padding: 70px 10px 10px 10px;
}
.texto{
    margin-left: 300px;
    margin-right: 300px;
}
.titu{
    text-align: center;
}

.subtitulo h1{
    text-align: center;
    margin: 50px;
    font-size: 20px;
}
.h1{
    margin-left: -930px;
}
.sub1 h1{
    margin: 50px;
    font-size: 20px;
}

.text2{
    margin-left: 300px;
    margin-right: 300px;
}
.subtitulo p{
    margin: 50px;
    font-size: 20px;
}

.sub1 p{
    margin: 50px;
    font-size: 20px;
}
hr{
    margin-top: 100px;
}
.contenido{
    text-align: center;
}
.contenido1{
    text-align: center;
    margin: 15px;
    padding: -15px;
}
.footer {
    position: relative;
    width: 100%;
    background: rgb(191, 149, 255);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
}
.icon-elem {
    list-style: none;
}

.icon {
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}